body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > div {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav, main, footer {
    width: 100%;
}
nav { margin-top: 3rem;}
nav a.active { font-weight: 700; text-decoration: underline; }
nav a { color: rgb(9, 159, 255); text-decoration: none; }
main a { color: green; font-weight: 700; text-decoration: none; }
main {
    width: calc(100% - 3rem);
    padding: 1.5rem;
    background-color: lightgray;
    border-radius: 0.5rem;
}

main ul.EJS {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    color: gray;
}
