.container {
    width: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Make the .container div to be a flexbox container, allows items to wrap to the next line and center its content */


}

.features {
  /* Make the grid layout to create 3 equal-width columns and 20px of spacing between both rows and columns */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px

}

@media only screen and (max-width: 768px) {
  .features {
    /* Make the grid layout to create 2 equal-width columns and 20px of spacing between both rows and columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
}
@media only screen and (max-width: 428px) {
  .features {
    /* Make the grid layout to create 1 equal-width columns and 20px of spacing between both rows and columns */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
  }
}



.card {
    /* 20px padding, a light background (#f5f5f5), and 10px border-radius. */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    
}

.card:hover {
    /* Change background color to #e0e0e0 on hover */
    background-color: #e0e0e0;
}