textarea {
    resize: none;
}

#evolve {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% - 6rem));
}

::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
}
  
::-webkit-scrollbar-track {
    background: none
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}