body {
    margin: 0;
    background-color: #b8e4f0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.top-container{
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.top-cloud{
    position: absolute;
    right: 20%;
    top: -50px;
}

.bottom-cloud{
    position: absolute;
    left: 20%;
}