.box {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;

  /* Each box is 100x100 pixels, with a 1px line (color: #687291) on top. */
}

.align {
  /* All boxes are centered horizontally even as the window resizes. 
    Boxes are separated by 10 pixels of space.  */
    margin: 10px auto;
}

.font {
  /* Text is centered horizontally. 
       The font in all elements is Tahoma, 40 pixels.
       Text is centered horizontally. */
  text-align: center;
  font-family: Tahoma;
  font-size: 40px;
}

.box:nth-child(odd){
  background-color: #dfe1e7;
}

.box:nth-child(even){
  background-color: #eeeff2;
}

.box:last-child{
  background-color: #687291;
  border: 4px solid black
}
/* Add new classes to make boxes colored and bordered according to the design in the labs */
